In [1]:
import pandas as pd

listings = spark.read.format("csv").option("header", "true").option("inferSchema","True").option("quote", "\"")\
.option("multiline", True).option("escape", "\"").load('/Users/skuma458/projects/test/sample-etl/data/01_raw/listings.csv.gz')
calendar = spark.read.format("csv").option("header", "true").option("inferSchema","True")\
.load('/Users/skuma458/projects/test/sample-etl/data/01_raw/calendar.csv.gz')
listings_no_gz = spark.read.format("csv").option("header", "true").option("inferSchema","True")\
.load('/Users/skuma458/projects/test/sample-etl/data/01_raw/listings.csv')
neighbourhoods = spark.read.format("csv").option("header", "true").option("inferSchema","True")\
.load('/Users/skuma458/projects/test/sample-etl/data/01_raw/neighbourhoods.csv')
neighbourhoods_json = spark.read.format("json").option("header", "true").option("inferSchema","True")\
.load('/Users/skuma458/projects/test/sample-etl/data/01_raw/neighbourhoods.geojson')
reviews_no_gz = spark.read.format("csv").option("header", "true").option("inferSchema","True")\
.load('/Users/skuma458/projects/test/sample-etl/data/01_raw/reviews.csv')
reviews = spark.read.format("csv").option("header", "true").option("inferSchema","True")\
.load('/Users/skuma458/projects/test/sample-etl/data/01_raw/reviews.csv.gz')

In [41]:
from pyspark.sql import functions as F 
listings.printSchema()

root
 |-- id: string (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: string (nullable = true)
 |-- last_scraped: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: string (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: string (nullable = true)
 |-- host_total_listings_count: string (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- beds: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- maximum_nights: string (nullable = true)
 |-- minimum_minimum_nights: string (nullable = true)
 |-- maximum_minimum_nights: string (nullable = true)
 |-- minimum_maximum_nights: string (nullable = true)
 |-- maximum_maximum_nights: string (nullable = true)
 |-- minimum_nights_avg_ntm: string (nullable = true)
 |-- maximum_nights_avg_ntm: string (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: string (nullable = true)
 |-- availability_60: string (nullable = true)
 |-- availability_90: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- calendar_last_scraped: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- number_of_reviews_ltm: string (nullable = true)
 |-- number_of_reviews_l30d: string (nullable = true)
 |-- first_review: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- review_scores_rating: string (nullable = true)
 |-- review_scores_accuracy: string (nullable = true)
 |-- review_scores_cleanliness: string (nullable = true)
 |-- review_scores_checkin: string (nullable = true)
 |-- review_scores_communication: string (nullable = true)
 |-- review_scores_location: string (nullable = true)
 |-- review_scores_value: string (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- calculated_host_listings_count_entire_homes: string (nullable = true)
 |-- calculated_host_listings_count_private_rooms: string (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)

In [52]:
listings.limit(5).toPandas()
#listings.count()
#listings.filter(F.col('listing_url').like('http%')).limit(5).toPandas()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,23726706,https://www.airbnb.com/rooms/23726706,20220605131734,2022-06-05,Private room 20 minutes from Amsterdam + Break...,Cousy private room 20 min. from Amsterdam. Sh...,We live in a nice Cousy and clean house with e...,https://a0.muscache.com/pictures/eb6d6636-02d6...,122619127,https://www.airbnb.com/users/show/122619127,Patricia,2017-03-26,"Diemen, North Holland, Netherlands","Hi, Welcome. we are so glade we are able to op...",within an hour,100%,95%,f,https://a0.muscache.com/im/pictures/user/52706...,https://a0.muscache.com/im/pictures/user/52706...,None,1,1,"['email', 'phone', 'work_email']",t,t,"Diemen, Noord-Holland, Netherlands",IJburg - Zeeburgereiland,None,52.349,4.979,Private room in home,Private room,2,None,1 shared bath,1.0,1,"[""Carbon monoxide alarm"", ""Dishes and silverwa...",$88.00,2,14,2,2,1125,1125,2.0,1125.0,None,t,0,6,20,66,2022-06-05,78,11,3,2018-03-26,2022-05-29,4.99,4.96,4.97,4.95,4.97,4.73,4.87,038469D9AA6BDF1142CE,t,1,0,1,0,1.53
1,35815036,https://www.airbnb.com/rooms/35815036,20220605131734,2022-06-05,"Vrijstaand vakantiehuis, privé tuin aan het water",Bij het pittoreske dorpje Watergang ligt ons p...,U heeft hier diverse mogelijkheden. Zo kunt u ...,https://a0.muscache.com/pictures/e309d415-78de...,269425139,https://www.airbnb.com/users/show/269425139,Lydia,2019-06-18,"Watergang, North Holland, Netherlands",None,within an hour,100%,99%,t,https://a0.muscache.com/im/pictures/user/af417...,https://a0.muscache.com/im/pictures/user/af417...,None,1,1,"['email', 'phone']",t,t,"Watergang, Noord-Holland, Netherlands",Noord-Oost,None,52.424,4.957,Tiny home,Entire home/apt,2,None,1.5 baths,NaN,1,"[""Carbon monoxide alarm"", ""Dishes and silverwa...",$105.00,3,100,1,3,1125,1125,3.0,1125.0,None,t,4,6,12,243,2022-06-05,95,36,6,2019-06-26,2022-06-02,4.96,4.94,5.00,4.98,4.98,4.81,4.83,None,f,1,1,0,0,2.65
2,31553121,https://www.airbnb.com/rooms/31553121,20220605131734,2022-06-05,Quiet Guesthouse near Amsterdam,Welcome to the countryside north of Amsterdam ...,Within 6 kilometers of the city center you'll ...,https://a0.muscache.com/pictures/64edc273-3b2b...,76806621,https://www.airbnb.com/users/show/76806621,Ralf,2016-06-09,"Landsmeer, North Holland, Netherlands",None,within an hour,100%,100%,f,https://a0.muscache.com/im/pictures/user/1df22...,https://a0.muscache.com/im/pictures/user/1df22...,None,1,1,"['email', 'phone']",t,t,"Landsmeer, Noord-Holland, Netherlands",Noord-West,None,52.432,4.918,Entire guesthouse,Entire home/apt,4,None,1 bath,1.0,3,"[""Dishwasher"", ""Carbon monoxide alarm"", ""Ether...",$152.00,2,60,2,2,1125,1125,2.0,1125.0,None,t,0,3,3,3,2022-06-05,82,26,1,2019-02-04,2022-05-29,4.74,4.85,4.84,4.98,4.95,4.62,4.59,None,f,1,1,0,0,2.02
3,34745823,https://www.airbnb.com/rooms/34745823,20220605131734,2022-06-05,"Apartment ' Landzicht', nearby Amsterdam","Apartment 'Landzicht', one of our three apartm...",Beautiful apartment 'Landzicht’ located at a b...,https://a0.muscache.com/pictures/ceaafefc-7ccd...,238083700,https://www.airbnb.com/users/show/238083700,Daisy,2019-01-21,"Abcoude, Utrecht, Netherlands",None,within an hour,100%,94%,f,https://a0.muscache.com/im/pictures/user/2b731...,https://a0.muscache.com/im/pictures/user/2b731...,None,3,3,['phone'],t,t,"Abcoude, Utrecht, Netherlands",Gaasperdam - Driemond,None,52.296,5.012,Entire rental unit,Entire home/apt,2,None,1 bath,1.0,2,"[""Essentials"", ""Smoke alarm"", ""Host greets you...",$87.00,2,1125,2,2,1125,1125,2.0,1125.0,None,t,5,20,26,290,2022-06-05,39,4,0,2019-06-14,2022-04-17,4.87,4.87,4.87,4.97,4.97,4.87,4.90,None,f,3,3,0,0,1.08
4,44586947,https://www.airbnb.com/rooms/44586947,20220605131734,2022-06-05,"Weesp, 2 kamers vlakbij Amsterdam",Ruime woning met 2 slaapkamers. 1 slaapkamer m...,Woning is gelegen in een gezellige nieuwbouwwi...,https://a0.muscache.com/pictures/6460aaa6-83df...,360838688,https://www.airbnb.com/users/show/360838688,Aranka,2020-08-06,"Weesp, North Holland, Netherlands",None,within a few hours,100%,87%,t,https://a0.muscache.com/im/pictures/user/4207b...,https://a0.muscache.com/im/pictures/user/4207b...,None,0,0,"['email', 'phone']",t,f,"Weesp, Noord-Holland, Netherlands",Gaasperdam - Driemond,None,52.315,5.030,Private room in home,Private room,4,None,1 shared bath,2.0,3,"[""Dishwasher"", ""Body soap"", ""Microwave"", ""Baki...",$160.00,2,31,2,2,31,31,2.0,31.0,None,t,9,32,62,152,2022-06-05,15,12,3,2020-08-16,2022-05-29,5.00,4.93,4.93,4.87,4.93,5.00,4.80,None,f,1,0,1,0,0.68

In [53]:
calendar.limit(5).toPandas()

   listing_id    date    available  price  adjusted_price  minimum_nights  maximum_nights
0   23726706  2022-06-05      f     $90.00     $90.00             2             1125
1   23726706  2022-06-06      f     $90.00     $90.00             2             1125
2   23726706  2022-06-07      f     $90.00     $90.00             2             1125
3   23726706  2022-06-08      f     $90.00     $90.00             2             1125
4   23726706  2022-06-09      f     $85.00     $85.00             2             1125

In [54]:
listings_no_gz.limit(5).toPandas()

      id                           name                         host_id   host_name neighbourhood_group       neighbourhood        latitude longitude    room_type     price  minimum_nights number_of_reviews last_review reviews_per_month  calculated_host_listings_count  availability_365 number_of_reviews_ltm        license
0  23726706  Private room 20 minutes from Amsterdam + Break...  122619127  Patricia         None         IJburg - Zeeburgereiland  52.34916   4.97879     Private room    88         2               78         2022-05-29        1.53                      1.0                       66                 11           038469D9AA6BDF1142CE
1  35815036  Vrijstaand vakantiehuis, privé tuin aan het water  269425139     Lydia         None                       Noord-Oost  52.42419   4.95689  Entire home/apt   105         3               95         2022-06-02        2.65                      1.0                      243                 36                           None
2  31553121                    Quiet Guesthouse near Amsterdam   76806621      Ralf         None                       Noord-West  52.43237   4.91821  Entire home/apt   152         2               82         2022-05-29        2.02                      1.0                        3                 26                           None
3  34745823           Apartment ' Landzicht', nearby Amsterdam  238083700     Daisy         None            Gaasperdam - Driemond   52.2962   5.01231  Entire home/apt    87         2               39         2022-04-17        1.08                      3.0                      290                  4                           None
4  44586947                  Weesp, 2 kamers vlakbij Amsterdam  360838688    Aranka         None            Gaasperdam - Driemond  52.31475    5.0303     Private room   160         2               15         2022-05-29        0.68                      1.0                      152                 12                           None

In [59]:
neighbourhoods.toPandas()

   neighbourhood_group              neighbourhood
0          None                                Bijlmer-Centrum
1          None                                   Bijlmer-Oost
2          None                                  Bos en Lommer
3          None                         Buitenveldert - Zuidas
4          None                                   Centrum-Oost
5          None                                   Centrum-West
6          None                         De Aker - Nieuw Sloten
7          None                         De Baarsjes - Oud-West
8          None                        De Pijp - Rivierenbuurt
9          None                          Gaasperdam - Driemond
10         None                        Geuzenveld - Slotermeer
11         None                       IJburg - Zeeburgereiland
12         None                                     Noord-Oost
13         None                                     Noord-West
14         None         Oostelijk Havengebied - Indische Buurt
15         None                                         Osdorp
16         None                                      Oud-Noord
17         None                                       Oud-Oost
18         None                                    Slotervaart
19         None                                Watergraafsmeer
20         None                                     Westerpark
21         None                                           Zuid

In [56]:
neighbourhoods_json.limit(5).toPandas()

                       features                             type
0  [(([[[[4.991669, 52.324436, 43.069286], [4.991...  FeatureCollection

In [57]:
reviews_no_gz.limit(5).toPandas()

   listing_id    date
0   23726706  2018-03-26
1   23726706  2018-03-30
2   23726706  2018-04-01
3   23726706  2018-04-08
4   23726706  2018-04-15

In [58]:
reviews.limit(5).toPandas()

  listing_id     id         date    reviewer_id reviewer_name                      comments
0  23726706   246770863  2018-03-26   158582130     Camilla    Nice place, nice connection to amsterdam, we e...
1  23726706   248011183  2018-03-30    11198871       Peter    Sehr Empfehlenswert! Alles sauber und ordentli...
2  23726706   248833758  2018-04-01   155953524        Ayme    Una Excelente estancia en casa de Patricia y s...
3  23726706   251489252  2018-04-08   175511774      Hannah    Patricia's room was exactly like the pictures ...
4  23726706   253710522  2018-04-15   178502934        Elen    Made our visit 300% more pleasant and easier.....

In [2]:
import pandas as pd
import great_expectations as ge

In [4]:
reviews.expect_column_values_to_be_in_set('reviewer_name',['Camilla', 'Peter'])

AttributeError: 'DataFrame' object has no attribute 'expect_column_values_to_be_in_set'

In [11]:
import warnings
warnings.filterwarnings('ignore')
userdata_df = spark.read.format("parquet").load('../data/01_raw/userdata1.parquet')
userdata_df.limit(5).toPandas()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 08:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 18:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 02:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 01:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 06:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,

In [12]:
userdata_df.printSchema()

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

In [13]:
import great_expectations as ge
context = ge.get_context()

22/07/10 21:08:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [17]:
config = f"""
name: userdata_datasource
class_name: Datasource
execution_engine:
  class_name: SparkDFExecutionEngine
data_connectors:
  default_inferred_data_connector_name:
    class_name: InferredAssetFilesystemDataConnector
    base_directory: ../data/01_raw
    default_regex:
      group_names:
        - data_asset_name
      pattern: (.*)
  default_runtime_data_connector_name:
    class_name: RuntimeDataConnector
    assets:
      my_runtime_asset_name:
        batch_identifiers:
          - runtime_batch_identifier_name
"""

In [18]:
context.test_yaml_config(
    name="airbnb_raw",
    yaml_config=config
)

Attempting to instantiate class from config...
	Instantiating as a Datasource, since class_name is Datasource
	Successfully instantiated Datasource


ExecutionEngine class name: SparkDFExecutionEngine
Data Connectors:
	default_inferred_data_connector_name : InferredAssetFilesystemDataConnector

	Available data_asset_names (1 of 1):
		userdata1.parquet (1 of 1): ['userdata1.parquet']

	Unmatched data_references (0 of 0):[]

	default_runtime_data_connector_name:RuntimeDataConnector

	default_runtime_data_connector_name : RuntimeDataConnector

	Available data_asset_names (1 of 1):
		my_runtime_asset_name (0 of 0): []

	Unmatched data_references (0 of 0):[]